@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔴 Moving Text */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 15s linear infinite;
}

/* ✨ Shine Effect */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 2s linear infinite;
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollLeft 25s linear infinite;
}




@keyframes scrollSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollSlow {
  animation: scrollSlow 25s linear infinite;
}
/* 🔥 Gallery smooth infinite scroll */
@keyframes galleryScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-gallery {
  animation: galleryScroll 25s linear infinite;
}

